@font-face {
    font-family: "Inconsolata";
    src: url('/fonts/Inconsolata-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Inconsolata";
    src: url('/fonts/Inconsolata-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: "Inconsolata";
    src: url('/fonts/Inconsolata-SemiBold.ttf') format('truetype');
    font-weight: 600;
}
