$background-color: #f6ece1;  
$shadow: rgba(210, 190, 170, 0.7); //navy shadow
$lightest-cream: #f8e8df;     // lightest navy
$light-cream: #f5dbce;        // light navy
$dark-brown: #c2a69a;        // dark slate
$light-brown: #b89c8f;       // light slate
$lightest-brown: #dec4b5;    // lightest slate
$green-brown: #a48651;      // green brown

// Pink-based Theme
$theme-color: #e57373;       
$darker-pink: #f06292;      
$accent-color: #98ac42; 