@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.projects{
    margin: 15rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    &__title-wrapper{
        color: $lightest-brown;
    }
    &__title{
        position: relative;
        margin-bottom: 2rem;
        @include text-large2;
        font-weight: 700;

        &::before {
          counter-increment: title;
          content: "0" counter(title) ".";
          margin-right: 0.5rem;
          color: $theme-color;
        }
        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 20px;
          width: 300px;
          height: 2px;
          margin-left: 420px;
          background-color: $lightest-cream;
        }
    }
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10rem;
    }
    &__item{
        position: relative;
        display: flex;
        justify-content: flex-end;
    }
    &__image{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        transition: 0.3s ease-in-out;
        &--even{
            right: 0;
            left: initial;
        }
    }
    &__image-overlay{
        transition: 0.3s ease-in-out;
        display: flex;
        align-items: center;
        z-index: 1;
        position: absolute;
        width: 300px;
        height: 250px;
        background-color: rgba(255, 171, 145, 0.61);
        left: -8%;
    }
    &__image-container{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 250px;
    }
    &__image-container-image{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 250px;
        position: relative;
        margin-right: 50px;
    }
    &__info{
        z-index: 5;
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        background-color: rgba(28, 16, 13, 0.61);
        position: relative;
        padding: 0.5rem;
        margin-top: 150px;
    }
    &__info-overlay{
        color: $theme-color;
    }
    &__info-title{
        width: max-content;
        color: $light-brown;
        @include text-large2;
        cursor: pointer;
        transition: 0.3s ease-in-out;

        &:hover {
            color: $theme-color;
        }
    }
    &__info-description{
        border-radius: 0.2rem;
        background-color: rgba(28, 16, 13, 0);
    }
    &__info-description-text{
        color: $light-brown;
        padding: 2rem;
        text-align: end;
    }
    &__info-tech-list{
        display: flex;
        list-style-type: none;
        gap: 1rem;
        flex-wrap: wrap;
    }
    &__info-tech-list-item{
        color: $green-brown;
    }
    &__info-links{
        list-style-type: none;
        @include text-large2;
        display: flex;
        gap: 1rem;
    }
    &__info-links-item{
        transition: 0.3s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    &__info-links-item-link{
        padding: 10px;
        color: $lightest-brown;
        transition: 0.3s ease-in-out;
        outline: 2px dashed transparent;
        &:hover {
            color: $theme-color;
        }
        &:focus {
            outline-color: $theme-color;
            transform: translateY(-4px);
            color: $theme-color;
        }
    }
      @include tablet{
        justify-content: flex-start;
        margin: 15rem 7rem;

        &__image{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            transition: 0.3s ease-in-out;
            width: 600px;
            height: 300px;
    
            &--even{
                right: 0;
                left: initial;
            }
        }
        &__image-overlay{
            transition: 0.3s ease-in-out;
            z-index: 1;
            position: absolute;
            width: 500px;
            height: 350px;
            background-color: rgba(255, 171, 145, 0.61);
            left: 0%;
        }
        &__image-container{
            position: relative;
            width: 550px;
            height: 350px;
            
        }
        &__image-container-image{
            width: 500px;
            height: 350px;
        }
        &__container {
            align-items: center;
            position: relative;

            &::after{
                content: "";
                background-image: url("/images/olive-6.svg");
                background-size: 100%;
                position: absolute;
                background-repeat: no-repeat;
                background-position: top right;
                opacity: 0.20;
                top: -10%;
                right: -0%;
                left: -70%;
                width: 200%;
                height: 250%;
                z-index: -1;
            }
        }
        &__info{
            z-index: 5;
            width: 600px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 0.5rem;
            background-color: rgba(28, 16, 13, 0.61);
            left: 0%;
            position: relative;
            padding: 2rem;
        }
        &__info-description{
            background-color: transparent;
        }
        &__info-description-text{
            padding: 0;
            text-align: start;
        }

      }
      @include desktop{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 15rem 10rem;

        &__image{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            transition: 0.3s ease-in-out;
            width: 600px;
            height: 300px;
    
            &--even{
                right: 0;
                left: initial;
            }
        }
        &__title-wrapper{
            margin-left: 20px;
        }
        &__container{
            display: grid;
            justify-items: start;
            gap: 10rem;
            position: relative;

            &::after{
                content: "";
                background-image: url("/images/olive-6.svg");
                background-size: 130%;
                position: absolute;
                background-repeat: no-repeat;
                background-position: top right;
                opacity: 0.20;
                top: -10%;
                right: -0%;
                left: -45%;
                width: 300%;
                height: 300%;
                z-index: -1;
            }
        }
        &__image-overlay{
            transition: 0.3s ease-in-out;
            z-index: 1;
            position: absolute;
            width: 600px;
            height: 380px;
            background-color: rgba(255, 171, 145, 0.61);
            left: 4%;
            top: 3%;
            &:hover{
                background-color: #00000000;
            }
        }
        &__image-container{
            position: relative;
            width: 700px;
            height: 400px;
        }
        &__image-container-image{
            width: 600px;
            height: 380px;
        }
        &__info{
            z-index: 5;
            width: 600px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 0.5rem;
            background-color: rgba(28, 16, 13, 0.61);
            left: 40%;
            position: relative;
            padding: 2rem;
        }
        &__info-description{
            background-color: transparent;
        }
        &__info-description-text{
            padding: 0;
            text-align: start;
        }

      }
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content{
        position: relative;
        width: 90%;
        max-width: 800px;

    }
    &__close{
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        background: none;
        border: none;
        color: $theme-color;
        @include text-large2;
        transition: 0.3s ease-in-out;
        &:hover{
            color: $light-brown;
        }

    }
    &__video{
        width: 100%;
        height: 410px;
        border-radius: 10px;

    }
}